@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background: url('complete_bg.webp') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5); /* Increased transparency */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 30px; /* Increased padding */
    min-width: 800px; /* Increased maximum width */
    min-height: 600px; /* Increased minimum height */
    width: 100%;
    opacity: 0;
    animation: fadeIn 5s forwards; /* Fade-in effect */
  }
  

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

h1 {
    color: #444444;
    margin-bottom: 20px;
    text-align: left; /* Aligns the text to the left */
    margin-left: -2px; /* Adjust the value as needed to shift the header */
    font-size: 40px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: grey;
    text-align: left; /* Aligns the text to the left */
    margin-left: 0; /* Reset margin-left to align label with the container */
    font-size: 10px; /* Increase font size for better readability */
  }
  
  input {
    width: 100%; /* Adjust width to match container and label alignment */
    padding: 10px;
    border: 1px solid #ccc; /* Softer border color */
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #f5f5f5; /* Softer background color */
    transition: box-shadow 0.3s ease; /* Smooth transition for the shadow */
  }
  
  input:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Shadow on focus */
  }

  button {
    padding: 10px 20px;
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 8px; /* Rounder edges */
    background-color: transparent; /* Transparent background */
    color: #333; /* Dark grey text color */
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    min-width: 300px;
    min-height: 20px;
    width: 100%;
    transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
  }
  
  button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
  }
  
.signup-link {
  margin-top: 10px;
  color: lightgrey;
}

.signup-link a {
  color: lightgrey;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}